* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f4f0;
}

/*Div title_page and div Description_image CSS starts here: */
.title_page {
  margin: 88px 84px 40px 84px;
}

.headline {
  color: #e1624f;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

h1 {
  color: #1b1b1b;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

.description_image {
  width: auto;
  height: 736px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 84px 0 84px;
}

.description_image img {
  width: 1300px;
  height: 660px;
  margin: 88px 84px 40px 84px;
}

.description_image p {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

#content_list .divisor {
  width: 1300px;
  margin: 130px 84px 40px 84px;
}

/*Div title_page and div Description_image CSS ends  here: */

/* Section CSS starts here: */

.title {
  margin: 88px 84px 40px 84px;
}

.title_list p {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 8px 84px 64px 84px;
}

.card_travel img {
  width: 1300px;
  margin-left: 84px;
}
